<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/css/fontawesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/dashboard.min.css" rel="stylesheet">
  {{{_sections.css}}}

</head>

<body id="page-top">

  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center mb-3 mt-3" href="/">
        <div class="sidebar-brand-text mx-3">
          <img src="/img/logo.png" alt="">
        </div>
      </a>
      <!--#region writer  -->
      {{#ifEquals role 'writer'}}
        <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="/writer/upload">
          <i class="fas fa-fw fa-upload"></i>
          <span>Đăng bài viết</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Xem danh sách bài viết
      </div>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/writer/accepted">
          <i class="fas fa-fw fa-check"></i>
          <span>Đã duyệt và chờ xuất bản</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/writer/published">
          <i class="fas fa-fw fa-check-double"></i>
          <span>Đã xuất bản</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/writer/rejected">
          <i class="fas fa-fw fa-window-close"></i>
          <span>Bị từ chối</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/writer/pending">
          <i class="fas fa-fw fa-clock"></i>
          <span>Chưa được duyệt</span></a>
      </li>
      {{/ifEquals}}
      <!--#endregion -->
      
      <!--#region editor  -->
      {{#ifEquals role 'editor'}}

      <li class="nav-item">
        <a class="nav-link" href="/editor/pending">
          <i class="fas fa-fw fa-clock"></i>
          <span>Bài chờ xử lý</span></a>
      </li>

     
      <li class="nav-item">
        <a class="nav-link" href="/editor/pended">
          <i class="fas fa-fw fa-check"></i>
          <span>Bài đã xử lý</span></a>
      </li>
      {{/ifEquals}}
      <!--#endregion-->

      <!--#region admin  -->
      {{#ifEquals role 'admin'}}

      <!-- Heading -->
      <div class="sidebar-heading">
        Xem danh sách bài viết
      </div>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/accepted">
          <i class="fas fa-fw fa-check"></i>
          <span>Đã duyệt và chờ xuất bản</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/published">
          <i class="fas fa-fw fa-check-double"></i>
          <span>Đã xuất bản</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/rejected">
          <i class="fas fa-fw fa-window-close"></i>
          <span>Bị từ chối</span></a>
      </li>

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/pending">
          <i class="fas fa-fw fa-clock"></i>
          <span>Chưa được duyệt</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">
          <i class="fas fa-fw fa-list"></i>
          <span>Quản lý chuyên mục</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/tags">
          <i class="fas fa-fw fa-tags"></i>
          <span>Quản lý nhãn</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/accounts">
          <i class="fas fa-fw fa-user"></i>
          <span>Quản lý danh sách người dùng</span></a>
      </li>
      {{/ifEquals}}
      <!--#endregion-->
      

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/account/info">
                {{name}}                
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/logout">
                Đăng xuất          
              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          {{{body}}}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>


  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  {{{_sections.js}}}

  <!-- Custom scripts for all pages-->
  <script src="/js/dashboard.min.js"></script>

</body>

</html>
